* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main {
	max-width: 40rem;
	margin: 2rem auto;
	padding: 1em;
	text-align: center;
	h1 {
		margin-bottom: 3rem;
		font-size: 2.5rem;
	}
	section {
		border: 1px solid #000;
		width: 60%;
		margin: 1rem auto;
		padding: 1.5em 2.5em;
		h3 {
			margin-bottom: 1rem;
			font-size: 2rem;
			color: blue;
		}
		p {
			font-size: 1.5rem;
		}
	}
}
